/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --color-colors-base-white: #ffffff;
  --color-colors-base-black: #000000;
  --color-colors-base-transparent: #ffffff00;
  --color-colors-gray-25: #f9f9f9;
  --color-colors-gray-50: #f5f5f5;
  --color-colors-gray-100: #eeeeee;
  --color-colors-gray-200: #e1e1e1;
  --color-colors-gray-300: #d3d3d3;
  --color-colors-gray-400: #bfbfbf;
  --color-colors-gray-500: #888888;
  --color-colors-gray-600: #6e6e6e;
  --color-colors-gray-700: #555555;
  --color-colors-gray-800: #333333;
  --color-colors-gray-900: #222222;
  --color-colors-gray-950: #111111;
  --color-colors-brand-25: #f6fef9;
  --color-colors-brand-50: #e7faec;
  --color-colors-brand-100: #c9fcd6;
  --color-colors-brand-200: #95f9b8;
  --color-colors-brand-300: #5fee9f;
  --color-colors-brand-400: #37dd92;
  --color-colors-brand-500: #00c781;
  --color-colors-brand-600: #00ab7f;
  --color-colors-brand-700: #008f79;
  --color-colors-brand-800: #00736d;
  --color-colors-brand-900: #005b5f;
  --color-colors-brand-950: #084647;
  --color-colors-red-25: #fffbfa;
  --color-colors-red-50: #fdf0e9;
  --color-colors-red-100: #ffe7db;
  --color-colors-red-200: #ffcab8;
  --color-colors-red-300: #ffa795;
  --color-colors-red-400: #ff867a;
  --color-colors-red-500: #ff4f4f;
  --color-colors-red-600: #db3947;
  --color-colors-red-700: #b72740;
  --color-colors-red-800: #931939;
  --color-colors-red-900: #7a0f34;
  --color-colors-red-950: #55160c;
  --color-colors-yellow-25: #fffcf5;
  --color-colors-yellow-50: #fffaeb;
  --color-colors-yellow-100: #fef0c7;
  --color-colors-yellow-200: #fedf89;
  --color-colors-yellow-300: #fec84b;
  --color-colors-yellow-400: #fdb022;
  --color-colors-yellow-500: #f79009;
  --color-colors-yellow-600: #dc6803;
  --color-colors-yellow-700: #b54708;
  --color-colors-yellow-800: #93370d;
  --color-colors-yellow-900: #7a2e0e;
  --color-colors-yellow-950: #4e1d09;
  --color-colors-green-25: #f6fef9;
  --color-colors-green-50: #e7faec;
  --color-colors-green-100: #c9fcd6;
  --color-colors-green-200: #95f9b8;
  --color-colors-green-300: #5fee9f;
  --color-colors-green-400: #37dd92;
  --color-colors-green-500: #00c781;
  --color-colors-green-600: #00ab7f;
  --color-colors-green-700: #008f79;
  --color-colors-green-800: #00736d;
  --color-colors-green-900: #005b5f;
  --color-colors-green-950: #084647;
  --color-colors-blue-25: #f5f8ff;
  --color-colors-blue-50: #e3efff;
  --color-colors-blue-100: #cbe2ff;
  --color-colors-blue-200: #8fc0ff;
  --color-colors-blue-300: #549fff;
  --color-colors-blue-400: #2d89ff;
  --color-colors-blue-500: #0070ff;
  --color-colors-blue-600: #0262dd;
  --color-colors-blue-700: #074cba;
  --color-colors-blue-800: #013d9c;
  --color-colors-blue-900: #003083;
  --color-colors-blue-950: #002266;
  --color-colors-purple-25: #fcfaff;
  --color-colors-purple-50: #f0e7f9;
  --color-colors-purple-100: #ead5fd;
  --color-colors-purple-200: #d4acfc;
  --color-colors-purple-300: #b782f8;
  --color-colors-purple-400: #9d61f2;
  --color-colors-purple-500: #7630ea;
  --color-colors-purple-600: #5b23c9;
  --color-colors-purple-700: #4318a8;
  --color-colors-purple-800: #2e0f87;
  --color-colors-purple-900: #200970;
  --color-colors-purple-950: #2c1c5f;
  --color-colors-border-secondary-alt: #00000014;
  --color-component-colors-alpha-white-10: #ffffff1a;
  --color-component-colors-alpha-white-20: #ffffff33;
  --color-component-colors-alpha-white-30: #ffffff4d;
  --color-component-colors-alpha-white-40: #ffffff66;
  --color-component-colors-alpha-white-50: #ffffff80;
  --color-component-colors-alpha-white-60: #ffffff99;
  --color-component-colors-alpha-white-70: #ffffffb2;
  --color-component-colors-alpha-white-80: #ffffffcc;
  --color-component-colors-alpha-white-90: #ffffffe5;
  --color-component-colors-alpha-white-100: #ffffff;
  --color-component-colors-alpha-black-10: #0000001a;
  --color-component-colors-alpha-black-20: #00000033;
  --color-component-colors-alpha-black-30: #0000004d;
  --color-component-colors-alpha-black-40: #00000066;
  --color-component-colors-alpha-black-50: #00000080;
  --color-component-colors-alpha-black-60: #00000099;
  --color-component-colors-alpha-black-70: #000000b2;
  --color-component-colors-alpha-black-80: #000000cc;
  --color-component-colors-alpha-black-90: #000000e5;
  --color-component-colors-alpha-black-100: #000000;
  --color-colors-effects-shadow-xs: #0a0d120d;
  --color-colors-effects-shadow-sm-01: #0a0d121a;
  --color-colors-effects-shadow-sm-02: #0a0d121a;
  --color-colors-effects-shadow-md-01: #0a0d121a;
  --color-colors-effects-shadow-md-02: #0a0d120f;
  --color-colors-effects-shadow-lg-01: #0a0d1214;
  --color-colors-effects-shadow-lg-02: #0a0d1208;
  --color-colors-effects-shadow-lg-03: #0a0d120a;
  --color-colors-effects-shadow-xl-01: #0a0d1214;
  --color-colors-effects-shadow-xl-02: #0a0d1208;
  --color-colors-effects-shadow-xl-03: #0a0d120a;
  --color-colors-effects-shadow-2xl-01: #0a0d122e;
  --color-colors-effects-shadow-2xl-02: #0a0d120a;
  --color-colors-effects-shadow-3xl-01: #0a0d1224;
  --color-colors-effects-shadow-3xl-02: #0a0d120a;
  --color-colors-effects-shadow-skeumorphic-inner: #0a0d120d;
  --color-colors-effects-shadow-skeumorphic-inner-border: #0a0d122e;
  --color-colors-text-primary: var(--color-colors-gray-900);
  --color-colors-text-secondary: var(--color-colors-gray-700);
  --color-colors-text-secondary-hover: var(--color-colors-gray-800);
  --color-colors-text-tertiary: var(--color-colors-gray-600);
  --color-colors-text-tertiary-hover: var(--color-colors-gray-700);
  --color-colors-text-quaternary: var(--color-colors-gray-500);
  --color-colors-text-white: var(--color-colors-base-white);
  --color-colors-text-disabled: var(--color-colors-gray-500);
  --color-colors-text-placeholder: var(--color-colors-gray-400);
  --color-colors-text-brand-primary: var(--color-colors-brand-900);
  --color-colors-text-brand-secondary: var(--color-colors-brand-700);
  --color-colors-text-brand-secondary-hover: var(--color-colors-brand-800);
  --color-colors-text-brand-tertiary: var(--color-colors-brand-600);
  --color-colors-text-error-primary: var(--color-colors-red-600);
  --color-colors-text-error-primary-hover: var(--color-colors-red-700);
  --color-colors-text-warning-primary: var(--color-colors-yellow-600);
  --color-colors-text-success-primary: var(--color-colors-green-600);
  --color-colors-text-link: var(--color-colors-blue-500);
  --color-colors-text-link-hover: var(--color-colors-blue-600);
  --color-colors-border-primary: var(--color-colors-gray-300);
  --color-colors-border-secondary: var(--color-colors-gray-200);
  --color-colors-border-tertiary: var(--color-colors-gray-100);
  --color-colors-border-disabled: var(--color-colors-gray-300);
  --color-colors-border-disabled-subtle: var(--color-colors-gray-200);
  --color-colors-border-brand: var(--color-colors-brand-500);
  --color-colors-border-brand-alt: var(--color-colors-brand-600);
  --color-colors-border-error: var(--color-colors-red-500);
  --color-colors-border-error-subtle: var(--color-colors-red-300);
  --color-colors-foreground-primary: var(--color-colors-gray-900);
  --color-component-colors-utility-gray-utility-gray-50: var(--color-colors-gray-50);
  --color-component-colors-utility-gray-utility-gray-100: var(--color-colors-gray-100);
  --color-component-colors-utility-gray-utility-gray-200: var(--color-colors-gray-200);
  --color-component-colors-utility-gray-utility-gray-300: var(--color-colors-gray-300);
  --color-component-colors-utility-gray-utility-gray-400: var(--color-colors-gray-400);
  --color-component-colors-utility-gray-utility-gray-500: var(--color-colors-gray-500);
  --color-component-colors-utility-gray-utility-gray-600: var(--color-colors-gray-600);
  --color-component-colors-utility-gray-utility-gray-700: var(--color-colors-gray-700);
  --color-component-colors-utility-gray-utility-gray-800: var(--color-colors-gray-800);
  --color-component-colors-utility-gray-utility-gray-900: var(--color-colors-gray-900);
  --color-component-colors-utility-brand-utility-brand-50: var(--color-colors-brand-50);
  --color-component-colors-utility-brand-utility-brand-100: var(--color-colors-brand-100);
  --color-component-colors-utility-brand-utility-brand-200: var(--color-colors-brand-200);
  --color-component-colors-utility-brand-utility-brand-300: var(--color-colors-brand-300);
  --color-component-colors-utility-brand-utility-brand-400: var(--color-colors-brand-400);
  --color-component-colors-utility-brand-utility-brand-500: var(--color-colors-brand-500);
  --color-component-colors-utility-brand-utility-brand-600: var(--color-colors-brand-600);
  --color-component-colors-utility-brand-utility-brand-700: var(--color-colors-brand-700);
  --color-component-colors-utility-brand-utility-brand-800: var(--color-colors-brand-800);
  --color-component-colors-utility-brand-utility-brand-900: var(--color-colors-brand-900);
  --color-component-colors-utility-error-utility-error-50: var(--color-colors-red-50);
  --color-component-colors-utility-error-utility-error-100: var(--color-colors-red-100);
  --color-component-colors-utility-error-utility-error-200: var(--color-colors-red-200);
  --color-component-colors-utility-error-utility-error-300: var(--color-colors-red-300);
  --color-component-colors-utility-error-utility-error-400: var(--color-colors-red-400);
  --color-component-colors-utility-error-utility-error-500: var(--color-colors-red-500);
  --color-component-colors-utility-error-utility-error-600: var(--color-colors-red-600);
  --color-component-colors-utility-error-utility-error-700: var(--color-colors-red-700);
  --color-component-colors-utility-warning-utility-warning-50: var(--color-colors-yellow-50);
  --color-component-colors-utility-warning-utility-warning-100: var(--color-colors-yellow-100);
  --color-component-colors-utility-warning-utility-warning-200: var(--color-colors-yellow-200);
  --color-component-colors-utility-warning-utility-warning-300: var(--color-colors-yellow-300);
  --color-component-colors-utility-warning-utility-warning-400: var(--color-colors-yellow-400);
  --color-component-colors-utility-warning-utility-warning-500: var(--color-colors-yellow-500);
  --color-component-colors-utility-warning-utility-warning-600: var(--color-colors-yellow-600);
  --color-component-colors-utility-warning-utility-warning-700: var(--color-colors-yellow-700);
  --color-component-colors-utility-success-utility-success-50: var(--color-colors-green-50);
  --color-component-colors-utility-success-utility-success-100: var(--color-colors-green-100);
  --color-component-colors-utility-success-utility-success-200: var(--color-colors-green-200);
  --color-component-colors-utility-success-utility-success-300: var(--color-colors-green-300);
  --color-component-colors-utility-success-utility-success-400: var(--color-colors-green-400);
  --color-component-colors-utility-success-utility-success-500: var(--color-colors-green-500);
  --color-component-colors-utility-success-utility-success-600: var(--color-colors-green-600);
  --color-component-colors-utility-success-utility-success-700: var(--color-colors-green-700);
  --color-component-colors-utility-blue-utility-blue-50: var(--color-colors-blue-50);
  --color-component-colors-utility-blue-utility-blue-100: var(--color-colors-blue-100);
  --color-component-colors-utility-blue-utility-blue-200: var(--color-colors-blue-200);
  --color-component-colors-utility-blue-utility-blue-300: var(--color-colors-blue-300);
  --color-component-colors-utility-blue-utility-blue-400: var(--color-colors-blue-400);
  --color-component-colors-utility-blue-utility-blue-500: var(--color-colors-blue-500);
  --color-component-colors-utility-blue-utility-blue-600: var(--color-colors-blue-600);
  --color-component-colors-utility-blue-utility-blue-700: var(--color-colors-blue-700);
  --color-component-colors-utility-purple-utility-purple-50: var(--color-colors-purple-50);
  --color-component-colors-utility-purple-utility-purple-100: var(--color-colors-purple-100);
  --color-component-colors-utility-purple-utility-purple-200: var(--color-colors-purple-200);
  --color-component-colors-utility-purple-utility-purple-300: var(--color-colors-purple-300);
  --color-component-colors-utility-purple-utility-purple-400: var(--color-colors-purple-400);
  --color-component-colors-utility-purple-utility-purple-500: var(--color-colors-purple-500);
  --color-component-colors-utility-purple-utility-purple-600: var(--color-colors-purple-600);
  --color-component-colors-utility-purple-utility-purple-700: var(--color-colors-purple-700);
  --color-colors-foreground-secondary: var(--color-colors-gray-700);
  --color-colors-foreground-secondary-hover: var(--color-colors-gray-800);
  --color-colors-foreground-tertiary: var(--color-colors-gray-600);
  --color-colors-foreground-tertiary-hover: var(--color-colors-gray-700);
  --color-colors-foreground-quaternary: var(--color-colors-gray-400);
  --color-colors-foreground-quaternary-hover: var(--color-colors-gray-500);
  --color-colors-foreground-white: var(--color-colors-base-white);
  --color-colors-foreground-disabled: var(--color-colors-gray-400);
  --color-colors-foreground-disabled-subtle: var(--color-colors-gray-300);
  --color-colors-foreground-brand-primary: var(--color-colors-brand-500);
  --color-colors-foreground-brand-secondary: var(--color-colors-brand-400);
  --color-colors-foreground-brand-secondary-hover: var(--color-colors-brand-600);
  --color-colors-foreground-error-primary: var(--color-colors-red-600);
  --color-colors-foreground-error-secondary: var(--color-colors-red-500);
  --color-colors-foreground-warning-primary: var(--color-colors-yellow-600);
  --color-colors-foreground-warning-secondary: var(--color-colors-yellow-500);
  --color-colors-foreground-success-primary: var(--color-colors-green-600);
  --color-colors-foreground-success-secondary: var(--color-colors-green-500);
  --color-colors-foreground-link: var(--color-colors-blue-500);
  --color-colors-foreground-link-hover: var(--color-colors-blue-600);
  --color-colors-foreground-required: var(--color-colors-red-500);
  --color-colors-background-primary: var(--color-colors-base-white);
  --color-colors-effects-focus-ring: var(--color-colors-brand-500);
  --color-colors-effects-focus-ring-alt: var(--color-colors-brand-600);
  --color-colors-effects-focus-ring-gray: var(--color-colors-gray-600);
  --color-colors-effects-focus-ring-error: var(--color-colors-red-500);
  --color-colors-background-primary-hover: var(--color-colors-gray-50);
  --color-colors-background-primary-solid: var(--color-colors-gray-950);
  --color-colors-background-secondary: var(--color-colors-gray-50);
  --color-colors-background-secondary-hover: var(--color-colors-gray-100);
  --color-colors-background-secondary-subtle: var(--color-colors-gray-25);
  --color-colors-background-secondary-solid: var(--color-colors-gray-600);
  --color-colors-background-tertiary: var(--color-colors-gray-100);
  --color-colors-background-quaternary: var(--color-colors-gray-200);
  --color-colors-background-active: var(--color-colors-gray-50);
  --color-colors-background-disabled: var(--color-colors-gray-100);
  --color-colors-background-disabled-subtle: var(--color-colors-gray-50);
  --color-colors-background-overlay: var(--color-colors-base-black);
  --color-colors-background-brand-primary: var(--color-colors-brand-50);
  --color-colors-background-brand-secondary: var(--color-colors-brand-100);
  --color-colors-background-brand-solid: var(--color-colors-brand-500);
  --color-colors-background-brand-solid-hover: var(--color-colors-brand-600);
  --color-colors-background-brand-section: var(--color-colors-brand-700);
  --color-colors-background-brand-section-subtle: var(--color-colors-brand-600);
  --color-colors-background-error-primary: var(--color-colors-red-50);
  --color-colors-background-error-secondary: var(--color-colors-red-100);
  --color-colors-background-error-solid: var(--color-colors-red-600);
  --color-colors-background-error-solid-hover: var(--color-colors-red-700);
  --color-colors-background-warning-primary: var(--color-colors-yellow-50);
  --color-colors-background-warning-secondary: var(--color-colors-yellow-100);
  --color-colors-background-warning-solid: var(--color-colors-yellow-600);
  --color-colors-background-success-primary: var(--color-colors-green-50);
  --color-colors-background-success-secondary: var(--color-colors-green-100);
  --color-colors-background-success-solid: var(--color-colors-green-600);
}