/**
 * This file was generated automatically by Supernova.io and should not be changed manually.
 * To modify the format or content of this file, please contact your design system team. 
 */

:root {
  --dimension-spacing-0-0px: 0px;
  --dimension-spacing-0-5-2px: 2px;
  --dimension-spacing-1-4px: 4px;
  --dimension-spacing-1-5-6px: 6px;
  --dimension-spacing-2-8px: 8px;
  --dimension-spacing-2-5-10px: 10px;
  --dimension-spacing-3-12px: 12px;
  --dimension-spacing-4-16px: 16px;
  --dimension-spacing-5-20px: 20px;
  --dimension-spacing-6-24px: 24px;
  --dimension-spacing-8-32px: 32px;
  --dimension-spacing-10-40px: 40px;
  --dimension-spacing-12-48px: 48px;
  --dimension-spacing-16-64px: 64px;
  --dimension-spacing-20-80px: 80px;
  --dimension-spacing-24-96px: 96px;
  --dimension-spacing-32-128px: 128px;
  --dimension-spacing-40-160px: 160px;
  --dimension-spacing-48-192px: 192px;
  --dimension-spacing-56-224px: 224px;
  --dimension-spacing-64-256px: 256px;
  --dimension-spacing-80-320px: 320px;
  --dimension-spacing-96-384px: 384px;
  --dimension-spacing-120-480px: 480px;
  --dimension-spacing-140-560px: 560px;
  --dimension-spacing-160-640px: 640px;
  --dimension-spacing-180-720px: 720px;
  --dimension-spacing-192-768px: 768px;
  --dimension-spacing-256-1-024px: 1024px;
  --dimension-spacing-320-1-280px: 1280px;
  --dimension-spacing-360-1-440px: 1440px;
  --dimension-spacing-400-1-600px: 1600px;
  --dimension-spacing-480-1-920px: 1920px;
  --dimension-radius-none: 0px;
  --dimension-radius-xxs: 2px;
  --dimension-radius-xs: 4px;
  --dimension-radius-sm: 6px;
  --dimension-radius-md: 8px;
  --dimension-radius-lg: 10px;
  --dimension-radius-xl: 12px;
  --dimension-radius-2xl: 16px;
  --dimension-radius-3xl: 20px;
  --dimension-radius-4xl: 24px;
  --dimension-radius-full: 9999px;
  --dimension-font-size-text-xs: 12px;
  --dimension-font-size-text-xs-sm: 13px;
  --dimension-line-height-text-xs: 18px;
  --dimension-line-height-text-xs-sm: 19px;
  --dimension-line-height-text-sm: 20px;
  --dimension-line-height-text-md: 24px;
  --dimension-line-height-text-lg: 28px;
  --dimension-line-height-text-xl: 30px;
  --dimension-line-height-display-xs: 32px;
  --dimension-line-height-display-sm: 38px;
  --dimension-line-height-display-md: 44px;
  --dimension-line-height-display-lg: 60px;
  --dimension-line-height-display-xl: 72px;
  --dimension-line-height-display-2xl: 90px;
  --dimension-font-size-text-sm: 14px;
  --dimension-font-size-text-md: 16px;
  --dimension-font-size-text-lg: 18px;
  --dimension-font-size-text-xl: 20px;
  --dimension-font-size-display-xs: 24px;
  --dimension-font-size-display-sm: 30px;
  --dimension-font-size-display-md: 36px;
  --dimension-font-size-display-lg: 48px;
  --dimension-font-size-display-xl: 60px;
  --dimension-font-size-display-2xl: 72px;
  --dimension-container-padding-mobile: var(--dimension-spacing-4-16px);
  --dimension-container-padding-desktop: var(--dimension-spacing-8-32px);
  --dimension-container-max-width-desktop: var(--dimension-spacing-320-1-280px);
  --dimension-width-xxs: var(--dimension-spacing-80-320px);
  --dimension-width-xs: var(--dimension-spacing-96-384px);
  --dimension-width-sm: var(--dimension-spacing-120-480px);
  --dimension-width-md: var(--dimension-spacing-140-560px);
  --dimension-width-lg: var(--dimension-spacing-160-640px);
  --dimension-width-xl: var(--dimension-spacing-192-768px);
  --dimension-width-2xl: var(--dimension-spacing-256-1-024px);
  --dimension-width-3xl: var(--dimension-spacing-320-1-280px);
  --dimension-width-4xl: var(--dimension-spacing-360-1-440px);
  --dimension-width-5xl: var(--dimension-spacing-400-1-600px);
  --dimension-width-6xl: var(--dimension-spacing-480-1-920px);
  --dimension-paragraph-max-width: var(--dimension-spacing-180-720px);
  --dimension-spacing-none: var(--dimension-spacing-0-0px);
  --dimension-spacing-xxs: var(--dimension-spacing-0-5-2px);
  --dimension-spacing-xs: var(--dimension-spacing-1-4px);
  --dimension-spacing-sm: var(--dimension-spacing-1-5-6px);
  --dimension-spacing-md: var(--dimension-spacing-2-8px);
  --dimension-spacing-md-lg: var(--dimension-spacing-2-5-10px);
  --dimension-spacing-lg: var(--dimension-spacing-3-12px);
  --dimension-spacing-xl: var(--dimension-spacing-4-16px);
  --dimension-spacing-2xl: var(--dimension-spacing-5-20px);
  --dimension-spacing-3xl: var(--dimension-spacing-6-24px);
  --dimension-spacing-4xl: var(--dimension-spacing-8-32px);
  --dimension-spacing-5xl: var(--dimension-spacing-10-40px);
  --dimension-spacing-6xl: var(--dimension-spacing-12-48px);
  --dimension-spacing-7xl: var(--dimension-spacing-16-64px);
  --dimension-spacing-8xl: var(--dimension-spacing-20-80px);
  --dimension-spacing-9xl: var(--dimension-spacing-24-96px);
  --dimension-spacing-10xl: var(--dimension-spacing-32-128px);
  --dimension-spacing-11xl: var(--dimension-spacing-40-160px);
}